@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/* Add smooth scrolling to entire site */
html {
  scroll-behavior: smooth;
}